/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/css3";
@import "compass/typography/links";

/*Start SUSY Grid */
@import "susy";
$total-columns 	:	12;
$column-width	:	3em;
$gutter-width	:	1.5em;
$grid-padding	:	1em; 
/* End SUSY Grid */

@import "partials/normalize"; 
@import "partials/utilities";

$datacolor: #658f85;
$porfoliocolor: #f2d129;
$programmingcolor: #d9cd8f;
$redcontrast: #d9435f;
$purplecontrast: #645e8c;


/* sitewide */ 

html	{
	font-family: "Lucida Grande";
}

#container	{
	@include container;
}

header	{
	text-align: center;
}

section	{
	@include clearfix;
}

footer	{
	padding: 3em 0em 0em 0em;
	p {
		@include omega;
		color: #B6B6B6;
	} 
}
h3	{
	text-align: left;
}


/* subtitle colors */

#data	{
	color: $datacolor;
	fill: $datacolor;
}

#portfolio	{
	color: $porfoliocolor;
	fill: $porfoliocolor;
}

#programming	{
	color: $programmingcolor;
	fill: $programmingcolor;
}


/* data */

#vinyl	{
	> div	{
		> img	{
			@include span-columns(4, 12);
			margin-bottom: 2.85%;
		}
		&:nth-child(3n)	{
			> img{
				@include omega;
			}		
		}
	}
}

#social	{
	> ul	{
		> li	{
			@include span-columns(4, 12);
			padding-bottom: 2em;
			&:nth-child(3)	{
				@include omega
			}
			&:nth-child(4)	{
				font-size: 4em;
			}
		}
	}
}

#biopic	{
	> img	{
		@include span-columns (10,12);
		@include squish(1,1);
	}
}


#pfix	{
	clear: both;
	padding-top: 1em;
}

#ou, #staplegun	{
	> img {
		@include span-columns(2,12);
		@include squish(5,5);
	}
}

ul	{
	list-style: none;
	li {
		margin-bottom: .3em;
	}
}

path {
	stroke-linejoin: round;
}

.land {
	fill: $datacolor;
}

.states {
	fill: none;
	stroke: #fff;
}

.livedarc {
  	fill: none;
  	stroke: $porfoliocolor;
  	stroke-linecap: round;
}

.points {
	stroke: $porfoliocolor;
	fill: $porfoliocolor;
}

.dot	{
	stroke: #000;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#mobilelegend	{
	display: none;
	#javascript	{
		color: rgb(31,119,180);
	}
	#java	{
		color: rgb(255,187,120);
	}
	#d3	{
		color: rgb(174,199,232);
	}
	#csharp	{
		color: rgb(255,127,14);
	}
	#objectivec	{
		color: rgb(44,160,44);
	}
	#php	{
		color: rgb(152,223,138);
	}
	#html	{
		color: rgb(214,39,40);
	}
	#css	{
		color: rgb(255,152,150);
	}
	#python	{
		color: rgb(148,103,189);
	}
	#adobe	{
		color: rgb(197,176,213);
	}
	#coffeescript	{
		color: rgb(140,86,75);
	}
}

label	{
	margin-left: .5em;
}

/* programming */
.programmingimage	{
	img	{
		@include span-columns(10,12);
		@include squish(1,1);
		margin-bottom: 2em;
	}
}

article	{
	margin-top: 3em;
}

/* links */
a	{
	@include link-colors($purplecontrast, $redcontrast, $purplecontrast, $purplecontrast, $purplecontrast);
	text-decoration: none;
}

/* responsive */

@media (max-width: 775px)	{
	#vinyl	{
		> div	{
			> img	{
				@include span-columns(4, 12);
			}
			&:nth-child(3n)	{
				> img{
					@include omega;
				}		
			}
		}
	}
	#vinyl	{
		> div	{
			> img	{
				@include span-columns(6, 12);
			}
			&:nth-child(3n)	{
				> img{
					@include remove-omega;
				}		
			}
			&:nth-child(2n)	{
				> img{
					@include omega;
				}		
			}
		}
	}
	#ou, #staplegun	{
		> img {
			@include span-columns(4,12);
			@include squish(4,4);
		}
	}
	#weeksection	{
		display: none;
	}
	.legend	{
		display: none;
	}
	#mobilelegend	{
		display: block;
	}
	.programmingimage	{
		img	{
			@include span-columns(12,12);
			margin-bottom: 2em;
			@include squish(0,0);
		}
	}
}

@media	(max-width: 480px)	{
	#vinyl	{
		> div	{
			> img	{
				@include span-columns(12, 12);
			}	
		}
	}
	#social	{
		> ul	{
			> li	{
				@include span-columns(6, 12);
				&:nth-child(2)	{
					@include omega;
				}
				&:nth-child(4)	{
					padding-bottom: .5em;
				}
			}
		}
	}
	#ou, #staplegun	{
		> img {
			@include span-columns(6,12);
			@include squish(3,3);
		}
	}
	#biopic	{
		> img	{
			@include span-columns (12 omega,12);
		}
	}
	h3	{
		text-align: center;
	}
	.programmingimage	{
		img	{
			@include span-columns(12,12);
			@include squish(0,0);
			margin-bottom: 2em;
		}
	}
	
}

