/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*Start SUSY Grid */
/* End SUSY Grid */
/* line 50, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 58, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 69, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 77, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 90, ../sass/partials/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 104, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 110, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 126, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 133, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 146, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 151, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 156, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 161, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 166, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 171, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 179, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 186, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 191, ../sass/partials/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 198, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 204, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 212, ../sass/partials/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 223, ../sass/partials/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 233, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 244, ../sass/partials/_normalize.scss */
q {
  quotes: none;
}

/* line 252, ../sass/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 257, ../sass/partials/_normalize.scss */
small {
  font-size: 75%;
}

/* line 265, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 272, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 276, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 289, ../sass/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 295, ../sass/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 304, ../sass/partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 313, ../sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 329, ../sass/partials/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 338, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 348, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 358, ../sass/partials/_normalize.scss */
form {
  margin: 0;
}

/* line 365, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 375, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 391, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 403, ../sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 418, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 429, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 439, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 452, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 457, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 466, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 475, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 486, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* sitewide */
/* line 29, ../sass/screen.scss */
html {
  font-family: "Lucida Grande";
}

/* line 33, ../sass/screen.scss */
#container {
  *zoom: 1;
  max-width: 52.5em;
  _width: 52.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 37, ../sass/screen.scss */
header {
  text-align: center;
}

/* line 20, ../sass/partials/_utilities.scss */
section:before, section:after {
  content: " ";
  display: table;
}
/* line 24, ../sass/partials/_utilities.scss */
section:after {
  clear: both;
}
/* line 27, ../sass/partials/_utilities.scss */
section {
  *zoom: 1;
}

/* line 45, ../sass/screen.scss */
footer {
  padding: 3em 0em 0em 0em;
}
/* line 47, ../sass/screen.scss */
footer p {
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  color: #B6B6B6;
}

/* line 52, ../sass/screen.scss */
h3 {
  text-align: left;
}

/* subtitle colors */
/* line 59, ../sass/screen.scss */
#data {
  color: #edc951;
}

/* line 63, ../sass/screen.scss */
#journalism {
  color: #00a0b0;
}

/* line 67, ../sass/screen.scss */
#programming {
  color: #b04a00;
}

/* data */
/* line 76, ../sass/screen.scss */
#vinyl > div > img {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
  margin-bottom: 2.85%;
}
/* line 81, ../sass/screen.scss */
#vinyl > div:nth-child(3n) > img {
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
}

/* line 90, ../sass/screen.scss */
#social > ul > li {
  width: 22.85714%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
}
/* line 92, ../sass/screen.scss */
#social > ul > li:nth-child(4) {
  font-size: 4em;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
}

/* line 101, ../sass/screen.scss */
#biopic > img {
  width: 82.85714%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
  margin-left: 8.57143%;
  margin-right: 8.57143%;
}

/* line 108, ../sass/screen.scss */
#pfix {
  clear: both;
  padding-top: 1em;
}

/* line 114, ../sass/screen.scss */
#ou > img, #staplegun > img {
  width: 14.28571%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
  margin-left: 42.85714%;
  margin-right: 42.85714%;
}

/* line 120, ../sass/screen.scss */
ul {
  list-style: none;
}
/* line 122, ../sass/screen.scss */
ul li {
  margin-bottom: .3em;
}

/* line 127, ../sass/screen.scss */
path {
  stroke-linejoin: round;
}

/* line 131, ../sass/screen.scss */
.land {
  fill: #EDC951;
}

/* line 135, ../sass/screen.scss */
.states {
  fill: none;
  stroke: #fff;
}

/* line 140, ../sass/screen.scss */
.livedarc {
  fill: none;
  stroke: #6A4A3C;
  stroke-width: 5px;
  stroke-linecap: round;
}

/* line 147, ../sass/screen.scss */
.points {
  stroke: #6A4A3C;
  fill: #6A4A3C;
  stroke-width: 7px;
}

/* line 153, ../sass/screen.scss */
.dot {
  stroke: #000;
}

/* line 157, ../sass/screen.scss */
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* line 163, ../sass/screen.scss */
#mobilelegend {
  display: none;
}
/* line 165, ../sass/screen.scss */
#mobilelegend #javascript {
  color: #1f77b4;
}
/* line 168, ../sass/screen.scss */
#mobilelegend #java {
  color: #ffbb78;
}
/* line 171, ../sass/screen.scss */
#mobilelegend #d3 {
  color: #aec7e8;
}
/* line 174, ../sass/screen.scss */
#mobilelegend #csharp {
  color: #ff7f0e;
}
/* line 177, ../sass/screen.scss */
#mobilelegend #objectivec {
  color: #2ca02c;
}
/* line 180, ../sass/screen.scss */
#mobilelegend #php {
  color: #98df8a;
}
/* line 183, ../sass/screen.scss */
#mobilelegend #html {
  color: #d62728;
}
/* line 186, ../sass/screen.scss */
#mobilelegend #css {
  color: #ff9896;
}
/* line 189, ../sass/screen.scss */
#mobilelegend #python {
  color: #9467bd;
}
/* line 192, ../sass/screen.scss */
#mobilelegend #adobe {
  color: #c5b0d5;
}
/* line 195, ../sass/screen.scss */
#mobilelegend #coffeescript {
  color: #8c564b;
}

/* line 200, ../sass/screen.scss */
label {
  margin-left: .5em;
}

/* programming */
/* line 206, ../sass/screen.scss */
.programmingimage img {
  width: 82.85714%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
  margin-left: 8.57143%;
  margin-right: 8.57143%;
  margin-bottom: 2em;
}

/* line 213, ../sass/screen.scss */
article {
  margin-top: 3em;
}

/* links */
/* line 218, ../sass/screen.scss */
a {
  color: #cc333f;
  text-decoration: none;
}
/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #cc333f;
}
/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #00a0b0;
}
/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #cc333f;
}

/* responsive */
@media (max-width: 775px) {
  /* line 228, ../sass/screen.scss */
  #vinyl > div > img {
    width: 48.57143%;
    float: right;
    margin-right: 0;
    *margin-left: -1.5em;
    display: inline;
    margin-bottom: 0;
  }

  /* line 235, ../sass/screen.scss */
  #ou > img, #staplegun > img {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
    display: inline;
    margin-left: 34.28571%;
    margin-right: 34.28571%;
  }

  /* line 240, ../sass/screen.scss */
  #weeksection {
    display: none;
  }

  /* line 243, ../sass/screen.scss */
  .legend {
    display: none;
  }

  /* line 246, ../sass/screen.scss */
  #mobilelegend {
    display: block;
  }

  /* line 250, ../sass/screen.scss */
  .programmingimage img {
    width: 100%;
    float: left;
    margin-right: 2.85714%;
    display: inline;
    margin-bottom: 2em;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media (max-width: 480px) {
  /* line 261, ../sass/screen.scss */
  #vinyl > div > img {
    width: 100%;
    float: left;
    margin-right: 2.85714%;
    display: inline;
  }

  /* line 268, ../sass/screen.scss */
  #social > ul > li {
    width: 48.57143%;
    float: right;
    margin-right: 0;
    *margin-left: -1.5em;
    display: inline;
  }

  /* line 274, ../sass/screen.scss */
  #ou > img, #staplegun > img {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
    display: inline;
    margin-left: 25.71429%;
    margin-right: 25.71429%;
  }

  /* line 280, ../sass/screen.scss */
  #biopic > img {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -1.5em;
    display: inline;
  }

  /* line 284, ../sass/screen.scss */
  h3 {
    text-align: center;
  }

  /* line 288, ../sass/screen.scss */
  .programmingimage img {
    width: 100%;
    float: left;
    margin-right: 2.85714%;
    display: inline;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 2em;
  }
}
